# == GENERAL ==

# Grinch local workspace stuff
**.gr-workspace
**.mrpack


# == GHOSTLAND 7 ==

# Leaks local world names: (which isn't really a „leak” as in a „security issue”, but this has caused Windows incompatibilities (lol) in the past)
ghostland7/overrides/config/inventoryprofilesnext

# Leaks usernames/IDs:
ghostland7/overrides/config/sounds/chat.json
ghostland7/overrides/config/skinrestorer/mojang_profile_cache.json
ghostland7/overrides/config/sodium-fingerprint.json
ghostland7/overrides/config/jade/usernamecache.json
ghostland7/overrides/config/roughlyenoughitems/hints.json
ghostland7/overrides/config/voicechat/username-cache.json

# Temproary files
ghostland7/overrides/config/spark/tmp

# Copyright violations lol
ghostland7/overrides/config/analog/records

# Distant Horizons interprets values differently on different devices - better to remove its configs and have everything set to default; it's server-version is in server-overrides
#ghostland7/overrides/config/DistantHorizons.toml

# Leaks personal access tokens; it's server-version is in server-overrides
ghostland7/overrides/config/PacketAuth/config.yml

# It's server-version is in server-overrides
ghostland7/overrides/config/discord_chat_mod-common.toml


# == GHOSTLAND 8 ==

# Sinytra processed JAR cache (MAY be a good idea to include it (once it generated, my game startup time dropped from ~570s to ~230s), but not yet, as more JARs for Grinch to munch on will only increase dev times)
ghostland8/overrides/mods/.connector

#Ars Nouveau search cache - gets updated on every launch, so putting it into dev just makes tracking changes more annoying.
ghostland8/overrides/config/ars_nouveau/search_index